.movie-card {
  border: 1px solid #e3e3e3;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.movie-card img {
  width: 100%;
}

.movie-card img:hover {
  cursor: pointer;
}

.movie-card h3 {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 1em;
}

.movie-card h3:hover {
  cursor: pointer;
  color: rgb(1, 180, 228);
}

.movie-details {
  padding-left: 15px;
  padding-right: 15px;
}

.movie-score {
  background-color: black;
  color: white;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
  transform: translateY(-20px);
}

.movie-date {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 5px;
}

.rating-canvas {
  scale: 0.5;
  transform: translate(-71px, -170px);
  position: absolute;
}

.description {
  display: none;
}

@media screen and (max-width: 600px) {
  .movie-card {
    display: flex;
  }

  .movie-card img {
    width: 94px;
    min-width: 94px;
    height: 141px;
  }

  .rating-canvas {
    display: none;
  }

  .movie-date {
    margin: 10px 0;
  }

  .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
